<div class="row">
    <div class="col-md-6">
        <div class="col-md-12">
            <div class="pull-right">
                <a href="#users" class="btn btn-primary">Users</a>
            </div>
        </div>
        <div class="col-md-12">
            <h4>Edit User</h4>
            <form>
                <label>First name</label>
                <input type="text" ng-model="user.firstname" required>
                <label>Last name</label>
                <input type="text" ng-model="user.lastname" required>
                <label>Email</label>
                <input type="email" ng-model="user.email" required>
            </form>
        </div>
    </div>
</div>
